*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}
.header_part{
    background: #dfdeed;
}
.header_part img{
    width: 100%;
    height: 115px;
}






.form_part{
    margin: 70px auto;
    width: 80%;
    padding: 40px 20px;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.26);
}
.form_part form{
    width: 50%;
    margin: 0 auto;
}
.form_part form table tr td{
    padding: 5px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.form_part form input, select{
    width: 200px;
    padding: 3px;
    background-color: #F4F0F2;
    border: 1px solid #999;
    border-radius: 2px;
}
.form_part form table tr td button{
    border: 1px solid black;
    padding: 1px 6px;
    border-radius: 2px;
    font-size: 12px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #0e2667;
    background: #dfdeed;
}
footer h2{
    font-size: 15px;
    padding: 20px 10px;
}

/* ************************************************
    result page
****************************************************/
.result .text{
    margin-top: -120px;
}
.result .text h1{
    padding-bottom: 20px;
    color: #8e44ad;
}
.result .text h3{
    padding: 7px;
    font-size: 20px;
    color: #130f40;
}
.result .text button{
    margin-top: 15px;
    margin-bottom: 50px;
}
.result .text button a{
    color: rgb(160, 155, 155);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #8e44ad;
}
.result .text button:hover a{
    color: white;
}
.result img{
    width: 30%;
}
